@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
:root {
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
}
html {
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
}
.header{
    padding: 100px;
    padding-bottom: 150px;
    background: url(./images/pattern-bg.png) no-repeat center center / cover;
}
.header .n {
    color: white;
    font-size: 250%;
    text-align: center;
    margin-bottom: 30px;
}
.header .sel {
    display: flex;
    justify-content: center;
    width:500px;
    margin: auto;

}
.header .sel input { 
    font-size: 18px;
    padding: 10px 15px;
    width: 80%;
    border: 0;
    outline: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.header .sel  button {
    background-color: var(--VeryDarkGray);
    border: 0;
    outline: 0;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 2px;
    cursor: pointer;
}
.header .info {
    position: absolute;
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    height: 120px;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
    border-radius:10px ;
    z-index: 1;
}
.header .info h1 {
    color: var(--VeryDarkGray);
    font-size: 170%;
}
.header .info h3 {
    color: var(--DarkGray);
}
.header .info .line {
    background-color: var(--DarkGray);
    width: 2px;
}

.mobile {
    display: none;
}
#map {
    position: relative;
    height: calc(100vh - 314px);
    width: 100%;
    z-index: 0;
}
@media screen and (max-width:1049px) {
    .header .info {
         width: 90%;
         padding: 30px 15px;
    }
}
@media screen and (max-width:700px) {
    .header {
        padding: 30px 10px 200px;
    }
    .header .sel {
        width: 100%;
    }
    .header h1 {
        font-size: 180%;
        margin-bottom: 20px;
    }
    .header .sel input {
        width: 100%;
        font-size: 16px;
    }
    .header .info {
        flex-direction: column;
        height: auto;
        width: 83%;
        text-align: center;
    }
    .header .info h1 {
        font-size: 150%;
    }
    .header .info h3 {
        font-size: 100%;
    }
    .desktop{ 
        display: none;
    }
    .mobile {
        display: block;
    }
}